
body{
    
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    
    
}

                                                                       /* FORMA DEL DIGIVICE */
.digivice{
    background-color: aqua;
    
    width:60vw;
    height: 70vh;
    
    border: 1px solid #000;
    border-radius: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

}
/* -------------------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------------------- */
                                                                            /* DIGIVICE CIRCULO EXT*/
.circulo_ext{
    border: 1px solid #000;
                                    
    width: 30vw;
    height:50vh;
                                    
    border-radius:50%;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}
                                                                            /* DIGIVICE CIRCULO INT*/
.circulo_int{
    border: 1px solid #000;
                                    
    width: 15vw;
    height:30vh;
                                    
    border-radius:50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */                                 
                                                                              /*--------- PANTALLA -------- */
.pantalla{
    border-color: coral;
    border: 1px solid #000;

    height:20vh;
    width: 10vw;
    
    display: flex;
    justify-content:center;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

                                                                                /*--------- BOTONES-------- */


.boton_der{
    border: 1px solid #000;
    border-radius:100%;

    height:14vh;
    width: 8vw;

    margin-left: 565px;

    position:fixed;

    display: flex;
    justify-content:center;
    align-items:center;

}

.boton_der_int{
    border: 1px solid #000;
    border-radius:100%;

    height:9vh;
    width: 5vw;

    margin-left: 7px;
}

.boton_izq_1{
    border: 1px solid #000;
    border-radius:100%;

    height:10vh;
    width: 9vw;

    margin: 0 530px 180px 0;
}

